<section id="our-initiatives" class="py-12 sm:py-16 lg:py-20 xl:py-24">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-6xl">
    <div class="max-w-full mx-auto">
      <h2 class="text-4xl font-bold text-adopt lg:text-5xl xl:text-6xl">
        Our Initiatives
      </h2>
    </div>

    <div class="mx-auto mt-12 sm:mt-16 lg:mt-20">
      <div
        id="adopt-a-river-home"
        class="grid grid-cols-1 md:grid-cols-2 md:gap-x-16 gap-y-8 pb-20 border-b-adopt-light border-b-1 items-center"
      >
        <div class="w-10/12 justify-self-center">
          <img src="images/logo.png" alt="Adopt a River Logo" />
        </div>
        <div class="text-center lg:text-left">
          <h3 class="text-4xl font-bold text-adopt mb-5 hidden md:block">
            Adopt a River
          </h3>
          <p
            class="mt-3 text-base font-normal text-black-3 mb-4 leading-relaxed"
          >
            Adopt a River Eco Solutions is a registered non-profit working in
            the river and environmental space. Based mainly in KZN, we do have
            ties and connections to like-minded groups in other provinces and
            are currently expanding our reach to other parts of the country. Our
            aim is to partner with individuals, corporates and agencies who
            share the desire to work, and want to create lasting sustainable
            differences to the environments in which we operate.
          </p>
          <a
            href="adopt-a-river.html"
            title="Learn more about Adopt a River"
            class="inline-flex px-8 py-2.5 text-base font-medium text-white transition-all duration-200 bg-adopt border border-transparent rounded-2xl shadow-sm hover:bg-adopt-dark focus:bg-adopt-dark"
            role="button"
          >
            Learn More
          </a>
        </div>
      </div>

      <div
        id="adopt-a-beach-home"
        class="grid items-center grid-cols-1 md:grid-cols-2 md:gap-x-16 gap-y-8 pt-24 pb-20 border-b-adopt-light border-b-1"
      >
        <div class="md:order-last w-10/12 justify-self-center">
          <img
            class="w-full"
            src="images/adopt-a-beach img.png"
            alt="Adopt a beach logo"
          />
        </div>

        <div class="text-center lg:text-left">
          <h3 class="text-4xl font-semibold text-adopt mb-5 hidden sm:block">
            Adopt a Beach
          </h3>
          <p
            class="mt-3 text-base font-normal text-black-3 mb-4 leading-relaxed"
          >
            Meet AdoptaBeach, where we help connect communities committed to
            keeping our beaches clean. Our main objective is to spark movements
            within communities, uniting and bringing people together once a
            month to keep their beaches clean. We work together with our
            generous sponsors to provide you with all the necessary equipment
            that you will need. Adopt a Beach today!
          </p>
          <a
            href="adopt-a-beach.html"
            title="Learn about the Adopt a Beach Initiative"
            class="inline-flex px-8 py-2.5 text-base font-medium text-white transition-all duration-200 bg-adopt border border-transparent rounded-2xl shadow-sm hover:bg-adopt-dark focus:bg-adopt-dark"
            role="button"
          >
            Learn More
          </a>
        </div>
      </div>

      <div
        id="adopt-a-trolley-home"
        class="grid items-center grid-cols-1 md:grid-cols-2 md:gap-x-16 gap-y-8 pt-24 pb-20 border-b-adopt-light border-b-1"
      >
        <div class="w-10/12 justify-self-center">
          <img
            class="w-full"
            src="images/Adopt-a-Trolley Logo.png"
            alt="Adopt a Trolley logo"
          />
        </div>
        <div class="text-center lg:text-left">
          <h3 class="text-4xl font-semibold text-adopt mb-5 hidden sm:block">
            Adopt a Trolley
          </h3>
          <p
            class="mt-3 text-base font-normal text-black-3 mb-4 leading-relaxed"
          >
            Our latest initiative, focused on targeting waste at source. A
            unique advertising opportunity for corporates all while cleaning and
            clearing our streets, parks and storm water drains. Watch out for
            our uniquely adapted waste trolley and friendly cleaner rolling
            around your community.
          </p>
          <a
            href="adopt-a-trolley.html"
            title="Learn more about the Adopt a Trolley Initiative"
            class="inline-flex px-8 py-2.5 text-base font-medium text-white transition-all duration-200 bg-adopt border border-transparent rounded-2xl shadow-sm hover:bg-adopt-dark focus:bg-adopt-dark"
            role="button"
          >
            Learn More
          </a>
        </div>
      </div>
      <div
        id="captain-fanplastic-home"
        class="grid items-center grid-cols-1 md:grid-cols-2 md:gap-x-16 gap-y-8 pt-24"
      >
        <div class="md:order-last w-7/12 justify-self-center">
          <img
            src="images/captain-fanplastic.png"
            alt="Captain Fanplastic Logo"
          />
        </div>

        <div class="text-center lg:text-left">
          <h3 class="text-4xl font-semibold text-adopt mb-5 hidden sm:block">
            Education: Captain Fanplastic
          </h3>
          <p
            class="mt-3 text-base font-normal text-black-3 mb-4 leading-relaxed"
          >
            Captain Fanplastic is an educational programme that teaches learners
            about the impact of plastic pollution on marine life and the value
            of recycling, not only in cleaning up the environment but also
            because of the uses that repurposed plastic has. Your company can be
            part of a global CSR programme that changes the perception children
            have about littering in order to instill positive behaviour change.
          </p>
          <a
            href="captain-fanplastic.html"
            title="Learn more about the Captain Fanplastic Initiative"
            class="inline-flex px-8 py-2.5 text-base font-medium text-white transition-all duration-200 bg-adopt border border-transparent rounded-2xl shadow-sm hover:bg-adopt-dark focus:bg-adopt-dark"
            role="button"
          >
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
